<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/games_style.css"/>
        <link rel="stylesheet" href="responsive.css"/>
        <link href="file:///C:/Users/CU_RAZ~1/AppData/Local/Temp/Rar$EXa36072.30674/Challenge4%20Rock%20paper%20scissors/game.html" crossorigin="anonymous">
        <title>Rock Paper Scissors</title>
    </head>
    <body>
        <header>
            <img src="/assets/assets_games/arrow.png" class="arrow"alt="">
            <img src="/assets/assets_games//logo 1.png" class="logo"alt="">
            <div class="judul">
                 <h1> ROCK PAPER SCISSORS </h1>
            </div>
        </header>
        <div class="container">
            <div class="containerRight">
                <h1> PLAYER 1</h1>
                <img class="option" onclick="rps('rock')"src="/assets/assets_games/batu.png"  width="128" height="92">
                <img class="option" onclick="rps('paper')" src="/assets/assets_games/kertas.png" width="115" height="150">
                <img class="option"  onclick="rps('scissor')" src="/assets/assets_games/gunting.png" width="134" height="160" >
            </div>
                <div class="containerVS">
                    <h1 id="result"></h1>
                    <h1>VS</h1>
                    <h1 id="inGame"></h1>
                </div>
                <div class="containerLeft">
                    <h1>COM</h1>
                    <img src="/assets/assets_games/batu.png" class="optionComp" width="128" height="92">
                    <img src="/assets/assets_games/kertas.png" class="optionComp" width="115" height="150">
                    <img src="/assets/assets_games/gunting.png" class="optionComp" width="134" height="160">
              </div>
        </div>
            <div class="containerRefresh">
                <img src="/assets/assets_games/refresh.png" class="load" width="77" height="71">
            </div>
            
            <script src="/script.js"></script> 
            <script src="file;:///C:/Users/CU_RAZ~1/AppData/Local/Temp/Rar$EXa36072.30674/Challenge4%20Rock%20paper%20scissors/game.html" crossorigin="anonymous"></script>  
    </body>
    </html>