    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel = "stylesheet" href="/styles/index_style.css"/>
    </head>
    <body>
        <!DOCTYPE html>
<html>
    <head>
       <meta charset="utf-8" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"  
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous">
        <meta name="viewport" content="width=device-width. initial-scale=1.0" />
        <link rel="stylesheet" href="style.css">
     </head>
     <body>
        <!--Navbar-->
        <div class="box">
        <nav class="navbar">
        <a class="logo" href="Index.html">
        </a>
            <li a class="li-logo" href="#">LOGO</li>
        <div class="li-navbar1">  
            <ul class="ul-navbar1">
                <li a class="li-navbar1" href="Index.html">
        <li a class="li-navbar1" href="#">Home</li>
        <li a class="li-navbar1"href="#">Work</li>
        <li a class="li-navbar1" href="#">Contact</li>
        <li a class="li-navbar1"href="#">AboutMe</li>
    </ul>
    </div>
        <div class="li-navbar2">
            <ul class="ul-navbar2">
                <li a class="li-navbar2"  href="#">SignUp</li>
                <form action = "/" method ="post">
                    <button type ="submit" href="#" class="li-navbar2">LOGIN</button>
                </form>
            </ul>
        </div>
        </nav>
        </div>
        <!--Header-->
        <section class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 header-info">
                        <h1 class="header-title text-center">Play Traditional Game</h1>
                        <h3 class="font-awal">Experience new traditional game play</h3>
                        <div class="button0">
                            <form action = "/index" method ="post">
                                <button type ="submit" href="#" class="btn0">Play Now</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-12 scroll">
                        <ul class="ul-footer">
                        <h1-footer> THE STORY</h1-footer > 
                        <img src="/assets/assets_homepage/scroll-down.svg" alt="">
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        
    <!--Header2-->
        <section class="header2">
            <div class="container2">
                <div class="row2">
                    <div class=" col-lg-12 header-info2">
                        <h3 class="modal-title ">What's so special?</h3>
                        <h1 class="header-title2 text-md-center ">THE GAMES</h1>
                        <div id="carouselExampleIndicators" class="carousel-slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                            <div class="carousel-item-active">
                            <img src="/assets/assets_homepage/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                            </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true">
                              </span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                    </div>
                </div>
            </div>
        
        </section>

        <!--Header3-->
        <section class="header3">
            <div class="container3">
                <div class="row">
                    <div class=" col-lg-12 header-info3">
                        <h5 class="modal-title1 ">What's so special?</h5>
                        <h1 class="title2">FEATURES</h1>
                    </div>
                    <div class="list">
                        <ul>
                        <li class="title3" >TRADITIONAL GAMES</li>
                        <h6 class="title4" >If you miss your childhood, we provide 
                            many raditional games here </h6>
                        <li class="title5" >GAME SUIT</li>
                        <li class="title6" >TBD</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

<!--header4-->
        <section class="header4">
            <div class="container4">
                <div class="row">
                    <div class=" col-lg-12 header-info4">
                        <h5 class="font-start text-center"> Can My Computer Run this game </h5>
                        <h1 class="font1">SYSTEM</h1>
                        <h1 class="font1">REQUIREMENTS</h1>
                    </div>
                    <span class="border border-white">OS :<br>Windows 7 64-bit only<br>( No OSX support at this time)</span>
                    <span class="border border-white1">PROCESOR :<br> Intel Core 2 Duo @ 2.4 GHZ or<br> AMD Athlon X2 @ 2.8 GHZ</span>
                    <span class="border border-white2">mEMORY :<br>4 GB RAM</span>
                    <span class="border border-white3">storage :<br> 8 GB available space</span>  
                    <span class="border border-white4">GRAPHICS :<br>NVIDIA GeForce GTX 660 2GB or<br>AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</span> 
                    </div>
                 </div>
            </div>
        </section>

        <!--header5-->
        <section class="header5">
            <div class="container5">
                <div class="row">
                    <div class=" col-lg-12 header-info5">
                        <h1 class="font-start1 text-center"> TOP SCORES </h1>
                        <h5 class="font2">This top score from various games provided<br>on this platform </h5>
                    </div>
                    <div a class="button5">
                        <a href="#" class="btn1">see more</a>
                    </div>
                <ul class="list-profile">
                    <li class="profile1">
                    <div class="profile">
                        <img src="/assets/assets_homepage/evan-lahti.jpg" class="img1" alt="">
                        <img src="/assets/assets_homepage/twitter-card.png" class="twt1" alt="">
                        <h4 class="Name1">Evan Lahti</h4>
                        <h6 class="Job1">PC Gamer</h6>
                        <h6 class="Desk1">"One of my gaming highlights of the year"</h6>
                        <h6 class="Date1">June 8, 2021</h6>
                    
                    </div>
                    </li>
                    <li class="profil2nd">
                    <div class="profile2">
                        <img src="/assets/assets_homepage/jada-griffin.jpg" class="img2" alt="">
                        <img src="/assets/assets_homepage/twitter-card.png" class="twt2" alt="">
                        <h4 class="Name2">Jada Griffin</h4>
                        <h6 class="Job2">Nerdreactor</h6>
                        <h6 class="Desk2">"The next big thing in the world of streaming<br>and survival games"</h6>
                        <h6 class="Date2">July 10, 2021</h6>
                    </div>
                    </li>

                    <li class="profile3rd">
                    <div class="profile3">
                        <img src="/assets/assets_homepage/aaron-williams.jpg" class="img3" alt="">
                        <img src="/assets/assets_homepage/twitter-card.png" class="twt3" alt="">
                        <h4 class="Name3">Aaron Williams</h4>
                        <h6 class="Job3">Uproxx</h6>
                        <h6 class="Desk3">"Snoop Dogg Playing The Wildly Entertaining<br>'SOS' Is Ridiculous"</h6>
                        <h6 class="Date3">December 24, 2018</h6>
                    </div>
                    </li>
                </ul>
                    </div>
                    </div>
                </div>
        </section>

        <!--Header6-->
        <section class="header6">
            <div class="container6">
                <div class="row6">
                    <div class=" col-lg-12 header-info6">
                        <h3 class="modal-title6 ">Want to stay in<br>touch?</h3>
                        <h1 class="header-title6 ">NEWSLETTER<br>SUBSCRIBE</h1>
                        <h6 class="font-kecil">In order to start receiving our news,all you have to do is enter your email<br>address.
                            Everything else will be taken care of by us.We will send you emails<br>containing information about game.
                            We don't spam.</h6>
                            <img src="/assets/assets_homepage/skull.png" class="img-tengkorak" alt="">
                            <div class="your-email">
                                <h6 class="footer6">your email address</h6>
                                <h6 class="footeryell">salmakhoer33@binar.co,id</h6>
                            </div>
                            <div a class="button6">
                            <a href="#" class="btn6">Subcribe now </a>
                            </div>
                            <footer class="site-footer">
                                <div class="container">
                                    <div class="row">
                                      <div class="col-sm">
                                        MAIN
                                      </div>
                                      <div class="col-sm">
                                       ABOUT
                                      </div>
                                      <div class="col-sm">
                                      GAME FEATURES
                                      </div>
                                      <div class="col-sm">
                                        SYSTEM REQUIREMENTS
                                      </div>
                                      <div class="col-sm">
                                      QUOTES
                                      </div>
                                    </div>
                                </div>                
                            </footer>
                        </section>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous">
    </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" 
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
        crossorigin="anonymous">
    </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" 
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
        crossorigin="anonymous">
    </script>
    </body>
 </html> 
        
    </body>
    </html>