<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/styles/login_style.css"/>
    <title>Document</title>
</head>
<body>
    <h1>Put Your Email before play the Game, <%= name %> </h1>
    <form action = "/log" method ="post">
        <input type ="email" class=" btnName" name ="email" placeholder ="email" />
        <button type ="submit">Submit</button>
    </form>
</body>
</html> 