*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #9C835F;
    
}

header {
    display: flex;
    justify-content: flex-start;
    padding: 30px;
    font-family: sans-serif;
    color: #F9B23D;
}
.judul {
    margin-top: 15px;
}

.arrow {
    height: 60px;
    width:40px
}

.logo {
    margin-left: 27px;
    width: 72px;
    height: 72px;
}

.judul {
    margin-left: 20px;
}

#result {
    color: #FFFFFF ;
    background-color: #4C9654 ;
    box-sizing: content-box;
    width: 20px 20px;
    padding: 30px 30px;
    font-size:50px ;
    border-radius: 10%;
    display: flex;
    justify-content: center;
}

#inGame {
    color: #FFFFFF ;
    background-color: #4C9654 ;
    box-sizing: content-box;
    width: 20px 20px;
    padding: 30px 30px;
    font-size:50px;
    border-radius: 10%;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    
}

.containerRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.option{
    margin-top: 80px;
    transition: all 250ms ease-in-out;
}

.optionComp {
    margin-top: 80px;
    transition: all 250ms ease-in-out;
    border-radius: 20px;

}



.option:hover {
    cursor: pointer;
    border-radius: 20px;
    transform: scale (105%);
    transition: cubic-bezier(0.215, 0.610, 0.355, 1)ease-in-out;
    background-color: #C4C4C4;
    -webkit-transform: scale(110%);
    -moz-transform: scale(110%);
    -ms-transform: scale(110%);
    -o-transform: scale(110%);
    -webkit-transition: cubic-bezier(0.215, 0.610, 0.355, 1)ease-in-out;
    -moz-transition: cubic-bezier(0.215, 0.610, 0.355, 1)ease-in-out;
    -ms-transition: cubic-bezier(0.215, 0.610, 0.355, 1)ease-in-out;
    -o-transition: cubic-bezier(0.215, 0.610, 0.355, 1)ease-in-out;
}



.imgCompt {
    margin-top: 80px;
   
}  


.containerVS {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #BD0000;
    font-size: 80px;

}
.containerRefresh {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.containerLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}



@media screen and (max-width: 467px){ 
    *{
        padding:0;
        margin: 0;
        box-sizing: border-box;
    }
    
    header {
        padding: 20px;
       
    }
    .judul {
        margin-top: 5px;
        
    }
    
    .arrow {
        height: 50px;
        width:30px
    }
    
    .logo {
        margin-left: 20px;
    }
    
    .judul {
        margin-left: 10px;
    }
    

    .imgCompt {
        margin-top: 30px;
       
    }  
    
    
    .containerVS {
        font-size: 30px;
    
    }


        
    .option{
        margin-top: 30px;
        width: 60px;
        height: 50px;
    
    }

    .optionComp {
        margin-top: 30px;
        width: 60px;
        height: 50px;
    }

    #result {
        width: 8px 8px;
        padding: 10px 10px;
        font-size: 10px;
        border-radius: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    #inGame {
        color: #FFFFFF ;
        background-color: #4C9654 ;
        box-sizing: content-box;
        width: 8px 8px;
        padding: 5px 5px;
        font-size:10px;
        border-radius: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        

    }
    .containerRefresh {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }
  

    .containerLeft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    .containerVS {
        display: flex;
        justify-content: center;
        align-items: center;
    }

 }

 

 @media screen and (max-width: 788px){ 
    *{
        padding:0;
        margin: 0;
        box-sizing: border-box;
    }
    
    header {
        padding: 25px;
    }
    .judul {
        margin-top: 15px;
        
    }
    
    .arrow {
        height: 60px;
        width:40px
    }
    
    .logo {
        margin-left: 30px;
    }
    
    .judul {
        margin-left: 20px;
    }
    

    .imgCompt {
        margin-top: 40px;
       
    }  
    
    
    .containerVS {
        font-size: 40px;
    
    }


        
    .option{
        margin-top: 40px;
        width: 70px;
        height: 60px;
    
    }

    .optionComp {
        margin-top: 40px;
        width: 70px;
        height: 60px;
    }

    #result {
        width: 15px 15px;
        padding: 15px 15px;
        font-size: 15px;
        border-radius: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    #inGame {
        color: #FFFFFF ;
        background-color: #4C9654 ;
        box-sizing: content-box;
        width: 15px 15px;
        padding: 15px 15px;
        font-size: 15px;
        border-radius: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        

    }
    .containerRefresh {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }
  

    .containerLeft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    .containerVS {
        display: flex;
        justify-content: center;
        align-items: center;
    }

 }