body {
    margin: 0;
    background-color:gray;
    padding: 0;
    margin: 0;
    position: absolute;

}


.header{
    background-image: url(/assets/assets_homepage/main-bg.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.navbar {
    background-color: rgba(0,0,0,0.6);
    color:white;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    width: 100%;
    position: fixed !important;
    top: 0;
    right: 0;
    padding: 10px 10px;
    text-transform: uppercase;
    
}




.navbar-custom ul {
    list-style-type:none ;
    margin: 0;
    padding:0;
    overflow: hidden;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
}

.header-title {
    width: 100%;
    padding-top: 10%;
    font-size: 5rem;
    font-weight: bold;
    font-style: normal;
    line-height: 5rem;
    letter-spacing: 0.3rem;
    margin-bottom: 3.5625rem;
    margin-top: 6rem;
}

.header-info {
    color: white;
    text-align: center;
    width: 100%;
}

.font-awal {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1rem;
    line-height: 2rem;
}

.ul-footer {
    line-height: 70rem;
    font-weight: bold;
    font-size: large;
    color: white;
    padding-left: 13cm;
    bottom: 6rem;
}

.button-type {
    text-align: center;
    background-size: 15px;
    background-color: rgba(255, 191, 0, 0.748);
    color: black;
}

.btn0 {
    text-align: center;
    background-size: 15px;
    background-color: rgba(255, 191, 0, 0.748);
    font-family: sans-serif;
    font-size: 18px;
    width: 300px;
    height: 50px;
    padding: 10px;
    left: 10rem;
    border-radius: 7px;
}



.li-logo {
    list-style-type: none;
}

.li-navbar1 {
    list-style-type: none;
    padding: 10px;
    padding-right: 20%;
}

.ul-navbar1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-navbar2 {
    list-style-type: none;
    padding: 10px;
    padding-right: 10%;
    text-transform: uppercase;
}

.ul-navbar2 {
    display: flex;

}


.header2 {
    background-image: url(/assets/assets_homepage/the-games-bg.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.header-title2 {
    color: white;
    font-style: oblique;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.2rem;
    position: relative;
    top: 13rem;
    right: 35rem;
    font-size: 4rem;


    
    
}
.modal-title {
    color: white;
    font-style: normal;
    position: relative;
    top: 12rem;
    left: 13rem;
    

}

.img-fluid {
    size-adjust: 10px;

}

.carousel-item-active  {
   width: 1000px;
   height: 1300px;
   padding: 0;
   position: relative;
   right: 10rem;
   left: 1rem ;
   bottom: 4rem;
   top: 12rem;
    
}

.carousel-slide {
    position: relative;
    width: 1000px;
    height: 700px;
    left: 35rem;
    right: 10rem;
    bottom: 5rem;


}

.header3 {
    background-image: url(/assets/assets_homepage/features.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.modal-title1 {
    color: white;
    text-align: center;
    position: absolute;
    top: 10rem;
    right: 5rem;
    left: 40rem;
    letter-spacing: 0.2rem;


}

.title2 {
    color: white;
    text-align: right;
    position: absolute;
    top: 12rem;
    left: 71rem ;
    font-style: initial;
    letter-spacing: 0.2rem;


}

.title3 {
    color: rgba(255, 191, 0, 0.994) ;
    position: relative;
    right: 5rem;
    left: 71rem;
    top: 20rem;
    font-size: 1.3rem;
}

.title4 {
    color: white;
    position: relative;
    left: 71rem;
    top: 20rem;
    
}

.title5 {
    color: rgba(255, 191, 0, 0.994) ;
    position: relative;
    right: 5rem;
    left: 71rem;
    top: 25rem;
    font-size: 1.3rem;
}


.title6 {
    color: rgba(255, 191, 0, 0.994) ;
    position: relative;
    right: 5rem;
    left: 71rem;
    top: 30rem;
    font-size: 1.3rem;
}


.header4 {
    background-image: url(/assets/assets_homepage/requirements.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.font-start {
    color: white;
    position: relative;
    top: 5rem;
    font-family:'Courier New', Courier, monospace;
}

.font1 {
    color: white;
    position: relative;
    left: 7rem;
    top: 8rem;
    font-size: 5rem;

}
.border-white {
    color: white;
    position: relative;
    top: 8rem;
    left: 8rem;
    padding-left: 1rem;
    padding-right: 1rem;


}



.border-white1 {
    color: white;
    position: relative;
    left: 8rem;
    right: 7rem;
    top: 8rem;
    padding-left: 1rem;
    padding-right: 1rem;

}

.border-white2 {
    color: white;
    position: relative;
    right: 23rem;
    top: 13rem;
    padding-left: 2rem;
    padding-right: 8.6rem;
  
   

}
.border-white3 {
    color: white;
    position: relative;
    right: 23rem;
    top: 13rem;
    padding-left: 2rem;
    padding-right: 4.5rem;
    
    
}
.border-white4 {
    color: white;
    position: relative;
    right: 54rem;
    top: 21.6rem;
    padding-left: 2rem;
    padding-right: 4.4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    bottom: 2rem;
    

}


.header5 {
    background-image: url(/assets/assets_homepage/top-score-bg.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.font-start1 {
    color: white ;
    font-size: 4rem;
    font-family:sans-serif;
    position: relative;
    top: 20rem;
    right: 28rem;

}


.font2 {
    color: white;
    font-family: ', 'Arial Narrow', Arial, sans-serif';
    position: relative;
    left: 19rem;
    top:22rem;


}


.btn {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: 160px;
}

.btn1 {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: 140px;
    background-color: rgb(255, 187, 0);
    padding: 18px;
    color: black;
    position: relative;
    top: 28rem;
    left: 25rem;
    padding-left: 5rem;
    padding-right: 5rem;
    border-radius: 7px;

}

.profile{
    width: 450px;
    height: 190px;
    background: rgba(40, 38, 32, 0.7);
    border-radius: 6%;
   margin-left: 79rem;
    

}

.img1 {
    border-radius: 50%;
    margin-left: 25px;
    margin-top: 10px;
    margin-right: 20px;

}

.Name1 {
    color: rgb(255, 187, 0);
    margin-left: 7rem;
    position: relative;
    bottom: 3rem;
}

.Job1 {
    color: gray;
    margin-left: 7rem;
    position: relative;
    bottom: 3.5rem;

}

.Desk1 {
    color: white;
    margin-left: 2rem;
    position: relative;
    bottom: 2rem;

}

.Date1 {
    color: gray;
    margin-left: 2rem;
    position: relative;
    bottom: 1.5rem;

}

.twt1 {
    margin-left: 17.5rem;

}


.profile2 {
    width: 450px;
    height: 190px;
    background: rgba(40, 38, 32, 0.7);
    border-radius: 6%;
    margin-left: 28cm;
    margin-top: 1cm;
    margin-right: 3rem;
    
}

.img2 {
    border-radius: 50%;
    margin-left: 30px;
    margin-top: 12px;
    margin-right: 20px;

}



.Name2 {
    color: rgb(255, 187, 0);
    margin-left: 9rem;
    position: relative;
    bottom: 7rem;
}

.Job2 {
    color: gray;
    margin-left: 9rem;
    position: relative;
    bottom: 7rem;

}

.Desk2 {
    color: white;
    margin-left: 2rem;
    position: relative;
    bottom: 4.5rem;

}

.Date2 {
    color: gray;
    margin-left: 2rem;
    position: relative;
    bottom: 4.5rem;

}

.twt2 {
    margin-left: 25rem;
    position: relative;
    bottom: 4rem;

}
.profile3 {
    width: 450px;
    height: 190px;
    background: rgba(40, 38, 32, 0.7);
    border-radius: 6%;
    margin-left: 34cm;
    margin-top: 1cm;
}

.img3 {
    border-radius: 50%;
    margin-left: 30px;
    margin-top: 10px;
    margin-right: 20px;

}



.Name3 {
    color: rgb(255, 187, 0);
    margin-left: 9rem;
    position: relative;
    bottom: 5rem;
}

.Job3 {
    color: gray;
    margin-left: 9rem;
    position: relative;
    bottom: 5.5rem;

}

.Desk3 {
    color: white;
    margin-left: 2rem;
    position: relative;
    bottom: 3rem;

}

.Date3 {
    color: gray;
    margin-left: 2rem;
    position: relative;
    bottom: 3rem;

}

.twt3 {
    margin-left: 16rem;

}


.header6 {
    background-image: url(/assets/assets_homepage/newsletter.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-tengkorak {
    margin-left: 13rem;
    position: relative;
    bottom: 5cm;
    


}

.modal-title6 {
    color: white;
    position: relative;
    left:25cm;
    top: 5cm;
   

}

.header-title6 {
    color: white;
    position: relative;
    left: 25cm;
    top: 5cm;
    bottom :20px;
    font-size: 4rem;
    padding: 0;
    letter-spacing: 0.3rem;
   
    
}

.font-kecil {
    color: white;
    position: relative;
    left: 25cm;
    top: 5cm;

}

.your-email {
    background-color: rgb(49, 48, 48);
    border-radius: 7px;
    width:300px;
    height:50px;
    position: relative;
    bottom: 11cm;
    left: 25cm;
    padding-left: 1rem;

}

.footer6 {
    color: gray;
    font-weight: lighter;

}

.footeryell {
    color: rgba(255, 191, 0, 0.748);
    font-weight: lighter;
    

}




.button6 {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: 300px;
    position: relative;
    bottom: 12cm;
    left: 29cm;
    height: 50px;
    padding: 2px;



}
.btn6 {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: 300px;
    height: 50px;
    background-color: rgb(255, 187, 0);
    padding: 10px;
    color: black;
    position: relative;
    left: 10rem;
    border-radius: 7px;
    ;
}


.site-footer {
    position: relative;
    bottom: 16rem;
    color: white;





}